[submodule "extern/rpilidar_ros"]
	path = extern/rpilidar_ros
	url = git@github.com:Slamtec/rplidar_ros.git
	branch = ros2
[submodule "jrb_can_bridge/libcanard"]
	path = jrb_can_bridge/libcanard
	url = git@github.com:OpenCyphal/libcanard.git
[submodule "jrb_can_bridge/CanProtocol"]
	path = jrb_can_bridge/CanProtocol
	url = git@github.com:Association-Jeroboam/CanProtocol.git
